<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../shared-styles.html">
<link rel="import" href="../edit-profile-form.html">

<dom-module id="my-edit-profile">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <div class="card">
			<edit-profile-form></edit-profile-form>
		</div>
  </template>

  <script>
    Polymer({
      is: 'my-edit-profile'
    });
  </script>
</dom-module>
